{% extends "base.html" %}

{% block content %}

<!-- TEXT EDITOR HERE -->
<div class="container">
    <form id="new-post" action="/newtextcontrol" method="POST">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label for="controleditor">Content</label>
            <textarea id="controleditor" name="text"> Write your text here</textarea>
        </div>

        <button type="submit" class="btn btn-success">Save and exit</button>
        <button formaction="/submit" formmethod="post" type="submit" class="btn btn-primary">Submit text</button>
    </form>
</div>


{% endblock %}