{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Your dashboard</h2>
    <form class="form-inline my-2 my-lg-0" action="/newtextcontrol" method="GET">
      <button type="submit" class="btn btn-success">New text</button>
    </form>
    {% if texts|length > 0 %}
        {% for text in texts %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3><a href="/controleditor/{{ text._id }}">{{ text.title }}</a></h3>
                </div>
                <div class="col">
                    <form class="form-inline my2 my-lg-0" action="/deletetextcontrol">
                        <input type="text" name="text_id" value="{{ text._id }}" hidden>
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h4>There are no assignments yet! Click on "New text" to begin writing.</h4>
    {% endif %}
</div>
{% endblock %}