{% extends "base.html" %}

{% block content %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
      <button type="submit" class="btn btn-success">Log out</button>
    </form>
  </div>
</nav>

<div>
    <p>This doesn't do anything yet, I'm just testing</p>

    <form action="/summary" method="POST">
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Put your text here</label>
        <textarea class="form-control" id="exampleFormControlTextarea1", name = "text" rows="3"></textarea>
      </div>
          <input type="submit", value="Summary", class="btn btn-success">
    </form>
</div>
<div>
    <h1>Thing</h1>
    <form method="post">
      <textarea id="editor">Hello, World!</textarea>
    </form>

</div>

{% endblock %}