{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Welcome or something.</h2>
    <form class="form-inline my-2 my-lg-0" action="/newtext" method="GET">
      <button type="submit" class="btn btn-success">New text</button>
    </form>
    {% if texts|length > 0 %}
        {% for text in texts %}
    <h3><a href="/editor/{{ text._id }}">{{ text.title }}</a></h3>
        {% endfor %}
    {% else %}
        <h4>There are no assignments yet! Click on "New text" to begin writing.</h4>
    {% endif %}
</div>
{% endblock %}