{% extends "base.html" %}


{% block content %}



<!-- TEXT EDITOR HERE -->
<div>
    <h1>{{ text.title }}</h1>
    <form class="form-inline my-2 my-lg-0" action="/summary" method="POST">
      <button type="submit" class="btn btn-success" name="action" value="summary">Summary</button>
        <textarea id="editor" name="text"> {{ text.text }} </textarea>
      <button type="submit" class="btn btn-success" name="action" value="save">Save</button>
        <button formaction="{{ url_for('summary' ,text_id='text._id') }}" type="submit" class="btn btn-success">Sumario</button>
    </form>

</div>

{% endblock %}